<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style type=text/css>pre{font-size:large;}tt{font-size:large;}</style>
</head>
</html>
<body>
<table width="100%">
  <tr>
    <td align=left bgcolor="#AAAAAA"><h1>Olla: A minimal HTML-only Zola theme</h1></td>
  </tr>
</table>
<table width="100%"><tr>
<td width="15%" align=left valign=top>
<table bgcolor="#AAAAAA" border width="100%">
<tr>
<td width="100%">
<table width="100%">
{% for page in section.pages %}
  <tr><td width="100%"><a href="{{ page.permalink }}">{{ page.title }}</a></td></tr>
{% endfor %}
</table>
</td>
</tr>
</table>

</td><td align=left valign=top>
{% block content %}
{{ section.content | safe }}
{% endblock content %}
</td>

<td width=20% align=left valign=top>
{% if section.toc %}
    <ul>
    {% for h1 in section.toc %}
        <li>
            <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
</td>
</td></tr></table>
</body>
</html>
