<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>pre{font-size:large;}body{font-family: Verdana, sans-serif;}</style>
        <title>{{ page.title }}</title>
    </head>

    <body>
        <table width="100%">
          <tr>
            <td align=left bgcolor="#AAAAAA"><h1>{{ page.title }}</h1></td>
          </tr>
        </table>
    
        <table width="100%">
            <tr>
                <td align=left valign=top>
                {% block content %}
                {{ page.content | safe }}
                {% endblock content %}
                </td>
        
                <td width=20% align=left valign=top>
                {% if page.toc %}
                    <ul>
                    {% for h1 in page.toc %}
                        <li>
                            <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
                            {% if h1.children %}
                                <ul>
                                    {% for h2 in h1.children %}
                                        <li>
                                            <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </td>
            </tr>
        </table>
    </body>
</html>
